/* Definicion Variables*/
:root {
  --color-primary: #ffffff;
  --color-secondary: #3ac5d9;
  --color-background: #f2f7f9;
  --color-transparent: transparent;
  --color-icon: #b5b5b7;
  --color-title: #222222;
  --color-subtitle: #888;
  --color-text: #555;
  --color-company: #cccbcc;
  --color-background-scrollbar: #eee;
  --color-background-certificate: #f5f5f5;
  --color-background-contact: #fcfcfc;
  --color-company: #a5a6a7;
}

/* Estilos Generales*/
html {
  font-size: 62.5%;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Poppins", Helvetica, sans-serif;
  font-size: 1.5rem;
  background-color: var(--color-background);
  color: var(--color-text);
  overflow: hidden;
}

#particles-js {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background: transparent;
  pointer-events: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-title);
}

/* Fondo*/
body {
  background-image: url(../img/fondo.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: +70px -105px;
}

/* Estructura Principal*/
.layout {
  position: relative;
  min-width: 1290px;
  width: 75%;
  height: 80vh;
  min-height: 80vh;
  margin: 10vh auto;
  z-index: 1;
  display: grid;
  grid-template-areas: "aside content";
  grid-template-columns: 30% 70%;

  /* Sombra detras del layout*/
  border-radius: 4rem;
  box-shadow: 0 0 100px -5px rgb(0, 0, 0, 0.25);
}

/* Barra lateral azul*/
.layout__aside {
  grid-area: aside;
  border-radius: 4rem 0 0 4rem;
  overflow: hidden;
  overflow-x: hidden;
}

.aside__user-info {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  min-height: 100%;
  min-width: 30rem;
  background-color: var(--color-secondary);
  color: var(--color-primary);
}

.user-info__container-image {
  position: relative;
  display: inline-block;
  width: 20rem;
  margin-top: 7rem;
  z-index: 1;
}

.user-info__image {
  width: 100%;
  height: auto;
  background-color: var(--color-primary);
  border: 3px solid var(--color-primary);
  border-radius: 50%;
  object-fit: cover;
}

.user-info__container-image::after {
  content: "";
  position: absolute;
  top: 5%;
  left: 9%;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-image: -webkit-repeating-radial-gradient(
    center center,
    #fff,
    #fff 1px,
    transparent 0px,
    transparent 100%
  );
  background-size: 0.6rem 0.6rem;
  opacity: 0.3;
  border-radius: 30rem;
}

.user-info__name {
  margin-top: 2.6rem;
  font-size: 3.2rem;
  color: var(--color-primary);
}

.user-info__job {
  font-size: 1.7rem;
  color: var(--color-primary);
  font-weight: 200;
}

.user-info__links {
  margin-bottom: 3.6rem;
}

.links__social {
  margin-top: 6rem;
  text-align: center;
  display: flex;
  flex-direction: row;
}

.social__option {
  height: 3rem;
  width: 3rem;
  font-size: 2rem;
  line-height: 3.2rem;
  opacity: 0.9;
  border-radius: 3rem;
  transition: all 200ms ease-in-out;
}

.social__option:hover {
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.2);
}

.user-info__buttons {
  margin-top: 5rem;
  margin-bottom: 15rem;
}

.user-info__btn {
  padding: 3rem;
  padding-bottom: 1.3rem;
  padding-top: 1.3rem;
  border: 2px solid var(--color-primary);
  border-radius: 3.2rem;
  color: var(--color-primary);
  box-shadow: 0 10px 10px -8px rgba(0, 0, 0, 0.22);
  transition: all 200ms ease-in-out;
}

.user-info__btn:hover {
  background-color: var(--color-primary);
  color: var(--color-secondary);
}

.user-info__btn__inicio {
  display: none;
  padding: 3rem;
  padding-bottom: 1.3rem;
  padding-top: 1.3rem;
  border: 1px solid var(--color-primary);
  background-color: var(--color-secondary);
  border-radius: 3.2rem;
  color: var(--color-primary);
  box-shadow: 0 10px 10px -8px rgba(0, 0, 0, 0.22);
  transition: all 200ms ease-in-out;
}

.user-info__btn__inicio:hover {
  background-color: var(--color-primary);
  color: var(--color-secondary);
}

.user-info__footer {
  position: absolute;
  bottom: 2rem;
  font-size: 1.2rem;
}

/* Contenedor Principal*/

.user-info__container-technologies {
  width: 70%;
  margin-bottom: 2rem;
}

.user-info__container-frameworks {
  width: 70%;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.technologies__container {
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
  margin-top: 5rem;
  justify-content: center;
}

.technologies__container_frameworks {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  margin-top: 3rem;
  justify-content: center;
  align-items: center;
}

.technologies__frameworks-frontend,
.technologies__frameworks-backend {
  display: flex; /* Apila los elementos verticalmente */
  align-items: flex-start; /* Alinea los elementos a la izquierda */
}

.technologies__frameworks-frontend {
  display: flex;
  flex-wrap: wrap;
  gap: rem;
  margin-top: 3rem;
}

.technologies__frameworks-backend {
  margin-top: 5rem;
  gap: 1rem;
}

.technologies__frameworks-version-control {
  margin-top: 3rem;
}

.layout__content {
  grid-area: content;
  height: 100%;
  min-height: 100%;
  background-color: var(--color-secondary);
  border-radius: 0 10rem 10rem 0;
}

.content__page {
  min-height: 100%;
  background-color: var(--color-primary);
  border-radius: 3.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.page__name {
  font-size: 6rem;
  margin-bottom: 1rem;
  color: var(--color-title);
}

.page__job {
  font-size: 2.1rem;
  font-weight: lighter;
  color: var(--color-subtitle);
}

/* Menu navegacion lateral*/
.layout__menu {
  display: block;
  position: absolute;
  top: 0;
  right: -10.5rem;
  min-width: 11rem;
  background-color: var(--color-transparent);
}

.menu__list {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  min-height: 32rem;
  padding: 2rem 0;
  margin-left: 2.5rem;
  background-color: var(--color-primary);
  box-shadow: 0 0 3rem -0.5rem rgba(0, 0, 0, 0.15);
  border-radius: 6rem;
}

.menu__option {
  display: block;
  width: 100%;
  text-align: center;
}

.menu__icon {
  color: var(--color-icon);
  font-size: 2.8rem;
  transition: all 100ms ease-in-out;
}

.menu__option:hover .menu__icon,
.menu__link--active .menu__icon {
  color: var(--color-secondary);
}

.menu__overlay {
  position: absolute;
  right: 0;
  margin-top: -3.1rem;
  display: block;
  opacity: 0;
  padding: 0.5rem 0.5rem;
  color: var(--color-primary);
  background-color: var(--color-secondary);
  border-radius: 0.5rem;
  white-space: nowrap;
  transition: all 500ms ease-in-out;
}

.menu__option:hover .menu__overlay {
  opacity: 1;
  right: 100%;
}

/* Estilos Generales (Sobre mí y otras paginas)*/
.content__about,
.content__resume,
.content__portfolio,
.content__contact {
  display: block;
  height: 100%;
  min-height: 100%;
  padding: 6rem;
  padding-right: 3rem;
  overflow: auto;
}

.about__header,
.resume__header,
.portfolio__header,
.contact__header {
  display: inline-block;
  margin-bottom: 4.5rem;
}

.about__title,
.resume__title,
.portfolio__title,
.contact__title {
  font-size: 3.2rem;
  position: relative;
}

.about__title::after,
.resume__title::after,
.portfolio__title::after,
.contact__title::after {
  content: "";
  position: absolute;
  top: 2rem;
  right: -2.5rem;
  width: 5rem;
  height: 3rem;
  background-image: -webkit-repeating-radial-gradient(
    center center,
    var(--color-secondary),
    var(--color-secondary) 1px,
    transparent 0px,
    transparent
  );
  background-size: 6px 6px;
  opacity: 0.2;
}

.title__color,
.subtitle__color {
  color: var(--color-secondary);
}

.about__personal-info {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 5rem;
}

.personal-info__bio {
  flex-basis: 60%;
}

.personal-info__data {
  flex-basis: 40%;
  padding: 0 3rem;
}

.personal-info__description {
  font-size: 1.5rem;
  line-height: 2.4rem;
  text-align: justify;
  text-justify: inter-word;
}

.personal-info__option {
  margin-bottom: 1.2rem;
}

.personal-info__title {
  margin-right: 0.5rem;
  color: var(--color-secondary);
  font-weight: 600;
}

/* Servicios*/
.about__services {
  width: 100%;
  margin-bottom: 3rem;
}

.services__title {
  font-size: 2.8rem;
}

.services__header,
.resume__subheader,
.contact__form-header {
  display: inline-block;
  padding-right: 1.2rem;
  margin-bottom: 3rem;
  position: relative;
}

.service__title,
.resume__subtitle,
.form-header__title {
  font-size: 2.1rem;
}

.service__description {
  margin-top: 1rem;
  font-size: 1.4rem;
  text-align: justify;
  text-justify: inter-word;
}

.services__title::after,
.resume__subtitle::after,
.form-header__title::after {
  content: "";
  position: absolute;
  top: 1.3rem;
  right: -0.5rem;
  width: 4rem;
  height: 2rem;
  background-image: -webkit-repeating-radial-gradient(
    center center,
    var(--color-secondary),
    var(--color-secondary) 1px,
    transparent 0px,
    transparent
  );
  background-size: 6px 6px;
  opacity: 0.2;
}

.services__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3rem;
}

.service__programming {
  grid-column: 1 / 2;
}

.services__right-column {
  grid-column: 2 / 3;
  display: flex;
  flex-direction: column;
}

.services__service {
  width: 100%;
  margin-bottom: 2.5rem;
}

.service__real-icon {
  font-size: 3.8rem;
  color: var(--color-secondary);
}

/* Aptitudes*/
.aptitudes__title {
  font-size: 2.8rem;
  margin-bottom: 1rem;
}

.aptitudes__header {
  display: inline-block;
  padding-right: 1.2rem;
  margin-bottom: 3rem;
  position: relative;
}

.aptitudes__title::after {
  content: "";
  position: absolute;
  top: 2rem;
  right: -1rem;
  width: 5rem;
  height: 3rem;
  background-image: -webkit-repeating-radial-gradient(
    center center,
    var(--color-secondary),
    var(--color-secondary) 1px,
    transparent 0px,
    transparent
  );
  background-size: 6px 6px;
  opacity: 0.2;
}

.aptitudes__list {
  list-style: none;
  padding: 0;
}

.aptitudes__item {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  margin-bottom: 1.5rem;
}

.aptitudes__description {
  font-size: 1.4rem;
  flex-grow: 1;
  margin-right: 1rem;
}

.fa-star {
  color: #fbad05;
  margin-right: 0.25rem;
}

.aptitudes__stars {
  display: flex;
  justify-content: flex-start;
}

/* Formación */
.resume__container {
  width: 100%;
  display: flex;
  flex-direction: row;
}

/* Columna Izquierda*/
.resume__left {
  flex-basis: 58%;
  margin-right: 1.5rem;
}

.resume__timelines {
  margin-bottom: 5rem;
}

.timelines__timeline {
  position: relative;
  width: 100%;
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: row;
}

.timeline__header {
  flex-basis: 30%;
  text-align: right;
  padding-right: 2.5rem;
}

.timeline__year {
  margin: 0.3rem 0px;
  line-height: 1.9rem;
  font-weight: bold;
  font-size: 1.4rem;
}

.timeline__company {
  display: block;
  font-size: 1.3rem;
  font-weight: lighter;
  color: var(--color-company);
}

.timeline__description {
  width: 70%;
  padding-left: 2.5rem;
  padding-right: 1.5rem;
}

.timeline__title {
  font-size: 1.6rem;
  margin-bottom: 0.3rem;
}

.timeline__text {
  text-align: justify;
  text-justify: inter-word;
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

/* Divider*/
.timeline__divider {
  position: absolute;
  top: 0;
  left: 30%;
  bottom: -1.8rem;
  width: 1px;
  height: auto;
  background-color: var(--color-background-scrollbar);
}

.timeline__divider::before {
  position: absolute;
  margin-top: 0.4rem;
  margin-left: -0.8rem;
  content: "";
  width: 1.7rem;
  height: 1.7rem;
  background-color: var(--color-primary);
  border-radius: 10rem;
  border: 2px solid var(--color-secondary);
  opacity: 0.2;
}

.timeline__divider::after {
  content: "";
  position: absolute;
  margin-top: 0.8rem;
  margin-left: -0.4rem;
  width: 0.9rem;
  height: 0.9rem;
  background-color: var(--color-secondary);
  border-radius: 10rem;
  opacity: 1;
}

/* Columna Derecha*/
.resume__right {
  flex-basis: 41%;
  padding: 0 1.5rem;
}

.resume__skills {
  width: 100%;
  margin-bottom: 10rem;
}

.skills__title {
  display: flex;
  justify-content: space-between;
}

.skills__text {
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1.4rem;
  margin-bottom: 0.4rem;
}

.skills__number {
  font-size: 1.1rem;
  line-height: 1.4rem;
  margin-bottom: 0.4rem;
  color: var(--color-subtitle);
}

.skills__progressbar {
  height: 1rem;
  border: 1px solid var(--color-secondary);
  border-radius: 1rem;
  background-color: var(--color-primary);
  margin-bottom: 2rem;
}

.skills__percentage {
  width: 40%;
  height: 0.8rem;
  background-color: var(--color-secondary);
  border: 2px solid var(--color-primary);
  border-radius: 1rem;
}

.skills__percentage--p1 {
  width: 90%;
}
.skills__percentage--p2 {
  width: 60%;
}
.skills__percentage--p3 {
  width: 50%;
}
.skills__percentage--p4 {
  width: 60%;
}
.skills__percentage--p5 {
  width: 70%;
}
.skills__percentage--p6 {
  width: 70%;
}
.skills__percentage--p7 {
  width: 60%;
}
.skills__percentage--p8 {
  width: 80%;
}
.skills__percentage--p9 {
  width: 80%;
}

.knowledges__list {
  margin-bottom: 10rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.knowledges__option {
  padding: 0.5rem 1rem;
  margin: 0.3rem 0.3rem;
  font-size: 1.3rem;
  background-color: var(--color-secondary);
  border-radius: 0.3rem;
  color: var(--color-primary);
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease,
    transform 0.3s ease;
}

.knowledges__option:hover {
  background-color: var(--color-primary);
  color: var(--color-secondary);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  transform: scale(1.05);
}

/* Idiomas*/
.languages__list {
  margin-bottom: 10rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.languages__option {
  padding: 1rem 2rem;
  margin: 0.5rem 0;
  font-size: 1.4rem;
  background-color: var(--color-primary);
  border: 2px solid var(--color-secondary);
  border-radius: 0.3rem;
  color: var(--color-secondary);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  gap: 1rem;
  transition: background-color 0.3s ease, box-shadow 0.3s ease,
    transform 0.3s ease;
}

.languages__option:hover {
  background-color: var(--color-secondary);
  color: var(--color-primary);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transform: translateY(-3px);
}

.languages__option--english::before {
  content: "";
  display: inline-block;
  height: 2em;
  width: 2em;
  background-size: contain;
  margin-right: 0.5rem;
  background-image: url(../img/bandera-reino-unido.png);
  background-size: cover;
  border-radius: 10rem;
}

.languages__option--euskera::before {
  content: "";
  display: inline-block;
  height: 2em;
  width: 2em;
  background-size: contain;
  margin-right: 0.5rem;
  background-image: url(../img//bandera-del-país-vasco.png);
  background-size: cover;
  border-radius: 10rem;
}

.languages__option--spanish::before {
  content: "";
  display: inline-block;
  height: 2em;
  width: 2em;
  background-size: contain;
  margin-right: 0.5rem;
  background-image: url(../img/bandera-española.png);
  background-size: cover;
  border-radius: 10rem;
}

/* Certificados*/
.certificates__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: center;
  align-items: flex-start;
}

.certificates__certificate {
  min-height: 470px;
  max-height: 470px;
  flex-basis: calc(50% - 1.5rem);
  border: 2px solid var(--color-secondary);
  border-radius: 0.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.5s ease, box-shadow 0.3s ease;
}

.certificates__certificate--uxui {
  height: 470px;
}

.certificates__certificate:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.certificate__logo {
  width: 100%;
  padding: 1rem;
  overflow: hidden;
  position: relative;
}

.certificate__image {
  transition: transform 0.3s ease;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.certificates__certificate:hover .certificate__image {
  transform: scale(1.1);
}

.certificate__content {
  padding: 1rem;
  text-align: center;
  width: 100%;
}

.certificate__title {
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
  color: var(--color-secondary);
}

.certificate__hours {
  display: block;
  margin-bottom: 0.3rem;
  font-size: 1.3rem;
  color: var(--color-subtitle);
}

.certificate__date {
  font-size: 1.2rem;
  color: var(--color-subtitle);
  opacity: 0.9;
}

/* Portfolio*/
.rol {
  font-size: 1.5rem;
  color: var(--color-subtitle);
  opacity: 0.9;
  margin-top: 3rem;
}

.portfolio__navbar {
  margin-bottom: 3rem;
}

.portfolio__menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.portfolio__option {
  font: 1.3rem;
  opacity: 0.7;
}

.portfolio__option--active {
  opacity: 1;
  color: var(--color-secondary);
}

.portafolio__link {
  cursor: pointer;
}

.portafolio__link:hover {
  color: var(--color-secondary);
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.25);
}

.portfolio__gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; /* Esto separa los elementos uniformemente */
}

.gallery__item {
  width: 48%;
  padding: 5rem 10rem 5rem 10rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 5rem;
  padding: 10px;
  text-align: center;
}

.gallery__container-image {
  width: 100%;
  height: auto;
  overflow: hidden;
  position: relative;
}

.gallery__container-image:hover .gallery__title,
.gallery__container-image:hover .gallery__title__p {
  opacity: 1; /* Hace el título más visible */
}

.gallery__container-image:hover::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 300ms ease-in-out;
  z-index: 1;
}

.gallery__image {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  display: block;
  transition: all 300ms ease-in-out;
}

.gallery__title {
  margin-top: 1rem;
  font-size: 2.5rem;
  padding: 1.5rem 0;
  font-weight: bold;
  color: var(--color-secondary);
  text-align: center;
  border-top: 1px solid var(--color-secondary);
}

.gallery__icon {
  opacity: 0;
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  width: 3rem;
  height: 3rem;
  font-size: 1.6rem;
  text-align: center;
  line-height: 3rem;
  background-color: var(--color-primary);
  color: var(--color-secondary);
  transition: all 450ms ease-in-out;
}

.carousel {
  position: relative;
}

.gallery__nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: var(--color-primary);
  cursor: pointer;
  z-index: 10;
  width: 2rem;
  height: 2;
  border-radius: 50%;
  border: none;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s, background-color 0.3s;
}

.gallery__nav:hover {
  transform: translateY(-50%) scale(1.1);
  background-color: var(--color-secondary);
}

.gallery__nav--prev {
  left: 10px;
}

.gallery__nav--next {
  right: 10px;
}

.gallery__image {
  width: 100%;
  display: block;
}
.carousel__button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  cursor: pointer;
  z-index: 10;
}

.carousel__button--prev {
  left: 0;
}

.carousel__button--next {
  right: 0;
}

.carousel__container {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

/* Contacto*/
.contact__container {
  display: flex;
  flex-direction: row;
}

.contact__info {
  flex-basis: 33%;
  padding: 0 1.5rem;
}

.contact__data {
  width: 100%;
  margin-bottom: 1.5rem;
  padding: 2rem 1rem;
  text-align: center;
  background-color: var(--color-background-contact);
  border: 1px solid var(--color-background-scrollbar);
}

.contact__data--email {
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

.contact__data--email:hover {
  border: 1px solid var(--color-secondary);
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #f8f8f8;
}

.contact__data--email:hover + .form__label {
  color: var(--color-secondary);
}

.contact__data--phone {
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

.contact__data--phone:hover,
.contact__data--phone:active {
  border: 1px solid var(--color-secondary);
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #f8f8f8;
}

.contact__icon {
  font-size: 3.3rem;
  color: var(--color-secondary);
}

.contact__subtitle {
  font-size: 1.5rem;
  margin-top: 1rem;
}

.contact__form-box {
  flex-basis: 66%;
  padding: 0 1.5rem;
}

.form__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.form__left {
  flex-basis: 47%;
  margin-right: 1.5rem;
}

.form__group {
  position: relative;
  margin-bottom: 2.5rem;
}

.form__input {
  position: relative;
  width: 100%;
  height: 4.2rem;
  display: block;
  font-size: 1.5rem;
  padding: 1rem 1.2rem;
  border: 0.2rem solid var(--color-background-scrollbar);
  border-radius: 0.5rem;
  outline: none;
  box-shadow: 0 1rem 1rem -8px rgba(0, 0, 0, 0.1);
  background: 0 0;
  background-color: transparent;
  line-height: 2.1rem;
  z-index: 1;
}

.form__input:focus {
  border: 0.2rem solid var(--color-secondary);
}

.form__label {
  position: absolute;
  top: 1rem;
  left: 1.5rem;
  color: var(--color-company);
  transition: all 300ms ease-in-out;
  pointer-events: none;
}

.form__input:focus ~ label,
.form__input:not(:placeholder-shown) ~ label {
  top: -2rem;
  left: 0;
  z-index: 1;
  font-size: 1.3rem;
  color: var(--color-secondary);
}

.form__input::-webkit-input-placeholder {
  color: transparent;
}

.form__input::-moz-placeholder {
  color: transparent;
}

.form__right {
  flex-basis: 50%;
  max-width: 50%;
  max-height: 100%;
}

.form__group--textarea {
  height: 100%;
}

.form__input--textarea {
  display: block;
  resize: none;
  height: 100%;
}

.form__button {
  padding: 1rem 3rem;
  font-size: 1.5rem;
  border: 0.2rem solid var(--color-secondary);
  color: var(--color-title);
  background-color: var(--color-primary);
  border-radius: 3rem;
  box-shadow: 0 1rem 1rem -8px rgba(0, 0, 0, 0.22);
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

.form__button:hover {
  background-color: var(--color-secondary);
  color: var(--color-primary);
}

.contact__map {
  width: 100%;
  min-height: 15rem;
  margin-bottom: 3.5rem;
  overflow: hidden;
}

.contact__iframe {
  width: 100%;
  height: 20rem;
}
